.all-houses {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin-top: 7%;
}

.home-title {
    text-align: center;
}

.prev {
    margin-left: 0;
    height: 50px;
    width: 50px;
    background-color: #f5f5f5;
    border-radius: 55% 0 0 50%;; 
}

.next {
    margin-right: 0;
    height: 50px;
    width: 60px;
    background-color: #f5f5f5;
    border-radius: 0 50% 50% 0;
}

.next-arrow {
    display: flex;
    justify-content: center;
    padding-top: 55%;
}

.back-arrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50%;
}

.prev:hover {
    background-color: rgb(120 195 50);
}

.next:hover {
    background-color: rgb(120 195 50);
}