$primary-color: #97bf0f;

.home.active {
  margin-left: 350px;
}

.home-title,
.home-paragraph,
.dashes {
  text-align: center;
}

.home-paragraph {
  color: grey;
}

.dashes {
  margin-top: 40px;
  color: grey;
}

.houses-box {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prev {
  border-radius: 0 25px 25px 0;
}

.next {
  border-radius: 25px 0 0 25px;
}

.prev,
.next {
  display: flex;
  height: 50px;
  width: 80px;
  background-color: $primary-color;

  &:hover {
    background-color: #f5f5f5;
  }
}

.next-arrow {
  margin: auto 40px auto 20px;
  display: block;
}

.back-arrow {
  margin: auto 20px auto 40px;
  display: block;
}

.btns {
  display: none;
}

.hr-btn {
  display: none;
}

@media screen and (max-width: 912px) {
  .home.active {
    margin-left: 0;
  }

  .houses-box {
    width: 100%;
    flex-direction: column;
    justify-content:flex-start;

    .btns {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0;
    }

    .prev,
    .next {
      display: none;
    }

    .prev-mob {
      border-radius: 0 25px 25px 0;
    }
    
    .next-mob {
      border-radius: 25px 0 0 25px;
    }

    .prev-mob,
    .next-mob {
      display: flex;
      height: 50px;
      width: 80px;
      background-color: $primary-color;

      &:hover {
        background-color: #f5f5f5;
      }
    }

    .hr-btn {
      display: block;
      height:2px;
      border-width:0;
      color:gray;
      background-color:gray
    }
  }
}
