.house {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 10px;
}

.home-image {
  height: 240px;
  width: 290px;
  border-radius: 5%;
}

.social-media {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
  margin-left: -40px;
}

.hr-home-name {
  width: 60%;
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}
