@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$primary-color: #97BF0F;

.navbar {
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;

  h2 {
    font-family: Fasthand, cursive;
    font-size: 2.5rem;
    font-weight: 100;
    margin-left: 30px;
  }
}

.menu-bars {
  margin-left: 2rem;
  background: none;
  font-size: 1.8rem;
  color: #fff;
}

.ham {
  background-color: $primary-color;
  padding: 7px 10px 0;
  border-radius: 10px;
  color: #fff
}

.nav-menu {
  background-color: #fff;
  width: 350px;
  height: 100vh;
  justify-content: center;
  display: flex;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 5;
  border-right: 1px solid rgba(128, 128, 128, 0.163);
}

.active {
  left: 0;
  transition: 350ms;
  z-index: 1;
}

.nav-menu-items {
  width: 100%;

  .link {
    margin-left: 10px;
  }

  button {
    background-color: inherit;
    border: none;
    text-align: left;
    padding: 0 !important;
  }
}

.navbar-toggle {
  background-color: $primary-color;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  width: 100%;

  h2 {
    font-family: Fasthand, cursive;
    font-size: 1.5rem;
    font-weight: 100;
    color: #fff;
  }
}

.nav-body {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .hide-nav {
    font-size: 30px;
    color: $primary-color;
    margin-top: 200px;
    cursor: pointer;
    flex: 1;
  }

  .links {
    flex: 10;
  }

  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0 8px 16px;
    list-style: none;
    height: 60px;
    letter-spacing: 0.1rem;
    
    a,
    button {
      font-family: 'Bebas Neue', cursive;
      font-weight: 200;
      font-size: 18px;
      width: 95%;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 16px;
      gap: 10px;
      border-radius: 4px;
      cursor: pointer;
      
      &:hover {
        background-color: $primary-color;
        color: #fff;
      }
    }
  }
}

footer {
  position: absolute;
  bottom: 20px;
}

@media screen and (max-width: 912px) {
  .menu-bars {
    margin-left: 10px;
  }

}